<StackLayout>
<GridLayout class="space"></GridLayout>
<form>
        <TextField hint="Enter plant name"> <Button class="green"></Button></TextField>
        
        <Button class="send" text="Search" (tap)="onTap($event)"></Button>
        </form>

<StackLayout class="p-20">
    <Card:CardView class="cardStyle">
    <StackLayout class="cardContent">
        <Image src="https://placekitten.com/200/200" />
        <Label text="Hello Kitteh!" class="m-b-10" ></Label>

                </StackLayout>
    </Card:CardView>
</StackLayout>

<Button text="Go back" class="btn btn-primary" [nsRouterLink]="['/home']"></Button>
</StackLayout>
